<% include ../partials/header %>
<div class="container">
<a id="show-btn" class="btn btn-secondary btn-sm" href="/profiles">Back to profiles</a>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 style="text-align: center;" id="mtp-h1">Edit your profile <%= profile.name %></h1>
            <p>Keep your profile up to date legend</p>
            <br>
        </div>
        <div class="col-md-6">
            <form action="/profiles/<%= profile._id %>?_method=PUT" method="POST">
                    <div class="form-group">
                        <label>Your Name</label>
                        <input class="form-control" type="text" name="profile[name]" value="<%= profile.name %>">
                    </div>
                    <div class="form-group">
                        <label>Your Email</label>
                        <input class="form-control" type="email" name="profile[userEmail]" value="<%= profile.userEmail %>">
                    </div>
                    <div class="form-group">
                        <label>Upload a Profile Image</label>
                        <input class="form-control" type="text" name="profile[image]" value="<%= profile.image %>">
                    </div>
                    <div class="form-group">
                        <label>Current City</label>
                        <input class="form-control" type="text" name="profile[currentCity]" value="<%= profile.currentCity %>">
                    </div>
                    <div class="form-group">
                        <label>Country</label>
                        <input class="form-control" type="text" name="profile[currentCountry]" value="<%= profile.currentCountry %>">
                    </div>
                    <div class="form-group">
                        <label>Where you make shit happen</label>
                        <input class="form-control" type="text" name="profile[venue]" value="<%= profile.venue %>">
                    </div>
                    <div class="form-group">
                        <label>Your story</label>
                        <input class="form-control" type="text" name="profile[description]" value="<%= profile.description %>">
                    </div>
                    <div class="form-group">
                        <label>What is your current role</label>
                        <input class="form-control" type="text" name="profile[role]" value="<%= profile.role %>">
                    </div>
                    <div class="form-group">
                        <label>What's your Insta profile?</label>
                        <input class="form-control" type="text" name="profile[instaHandle]" value="<%= profile.instaHandle %>">
                    </div>
                    <div class="form-group">
                        <label>And Twitter handle?</label>
                        <input class="form-control" type="text" name="profile[twitterHandle]" value="<%= profile.twitterHandle %>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Tell us your greatest hospo story</label>
                        <input class="form-control" type="text" name="profile[greatestStory]" value="<%= profile.greatestStory %>">
                    </div>
                    <div class="form-group">
                        <label>Your top 3 achievements</label>
                        <input class="form-control" type="text" name="profile[achievements]" value="<%= profile.achievements %>">
                    </div>
                    <div class="form-group">
                        <label>The top 3 things you're passionate about</label>
                        <input class="form-control" type="text" name="profile[passionateAbout]" value="<%= profile.passionateAbout %>">
                    </div>
                    <div class="form-group">
                        <label>What do you love about your industry?</label>
                        <input class="form-control" type="text" name="profile[industryLove]" value="<%= profile.industryLove %>">
                    </div>
                    <div class="form-group">
                        <label>What would you like to improve about your industry?</label>
                        <input class="form-control" type="text" name="profile[industryImprove]" value="<%= profile.industryImprove %>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-outline-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>