<% include ../partials/header %>

<div class="transbox">
    <header class="jumbotron">
        <div class="container">
            <h1 id="mtp-h1">Join Meetthepeople</h1>
            <h2>Create your own MTP profile and start telling your story</h2>
            <br>
            <p>
            <a class="btn btn-default btn-lg" href="/profiles/new">CREATE A PROFILE ></a>
            </p>
        </div>
    </header>
</div>    

<div class="container">
    <div id="thumbnail-row" class="row text-center">
        <% profiles.forEach(function(profile){ %>
            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <img src="<%=profile.image%>">
                   <div class="caption">
                       <h4 class="profile-name"><%=profile.name%></h4>
                       <h4 id="mtp-h4-index"><%= profile.role %> @ <strong><%= profile.venue %></strong></h4>
                   </div>
                   <p>
                       <a href="/profiles/<%= profile._id %>" class="btn btn-xs btn-default">Meet Me</a>
                   </p>
               </div>
            </div>
        <% }); %> 
    </div>
</div>

<% include ../partials/footer %>