<% include ../partials/header %>
<div class="container">
    <a id="show-btn" class="btn btn-secondary btn-sm" href="/profiles">Back to profiles</a>
    <div class="row">
        <div class="col-md-9">
            <div id="card-no-outline" class="card">
                    <h1 class="card-title">MEET <%=profile.name%></h1>
                    <h4 class="card-text"><%= profile.role %> @ <strong><%= profile.venue %></strong></h4>
                    <img class="card-img-top img-fluid" src="<%= profile.image %>">
                    <p class="qoute">"<%= profile.greatestStory %>"</p>                
                    <div class="caption-full">
                            <strong><p>So tell us a little about yourself <%=profile.name%></p></strong>
                            <p><%= profile.description %></p>
                            <strong><p>Tell us your greatest hospo story</p></strong>
                            <p><%= profile.greatestStory %></p>
                            <strong><p>Tell us your top 3 achievements you are most proud of</p></strong>
                            <p><%= profile.achievements %></p>
                            <strong><p>What about the top 3 things you're passionate about</p></strong>
                            <p><%= profile.passionateAbout %></p>
                            <strong><p>What is it you love about your industry and job?</p></strong>
                            <p><%= profile.industryLove %></p>
                            <strong><p>What is it you would like to improve in your industry?</p></strong>
                            <p><%= profile.industryImprove %></p>
                            <p>
                                <em>Submitted by <%= profile.author.username %></em>
                            </p>
                            <% if(currentUser && profile.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/profiles/<%= profile._id %>/edit">Edit</a>
                            <form id="delete-form" action="/profiles/<%= profile._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                            <% } %>
                    </div>
            </div>
        </div>
        <div class="col-sm-3 mb20">
                <h2 id="mtp-h4">Resides <%= profile.currentCity %>, <%= profile.currentCountry %></h2>
                <h4>Follow this legend</h4>
                <div class="list-group">
                    <ul class="social-list">
                        <li><i class="fa fa-instagram" aria-hidden="true"></i> <a href="https://www.instagram.com/<%= profile.instaHandle %>" target="_blank">/<%= profile.instaHandle %></a></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/<%= profile.twitterHandle %>" target="_blank">/<%= profile.twitterHandle %></a></li>
                    </ul>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="well">
                        <div class="text-right">
                                <a class="btn btn-mtp-black" href="/profiles/<%= profile._id %>/comments/new">Add a comment</a>
                        </div>
                        <hr>
                        <% profile.comments.forEach(function(comment){ %>
                            <div class="row">
                                <div class="col-md-12">
                                    <strong><%= comment.author.username %></strong>
                                    <span class="pull-right">Date added TBC</span>
                                    <p>
                                        <%= comment.text %>
                                    </p>
                                <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                    <a class="btn btn-xs btn-warning" 
                                        href="/profiles/<%= profile._id %>/comments/<%= comment._id %>/edit">
                                        Edit
                                    </a>
                                    <form id="delete-form" action="/profiles/<%= profile._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                    </form>
                                <% } %>
                                </div>
                            </div>
                        <% }) %>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

<!--
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-sm btn-default" href="/profiles">Back to profiles</a>
            <div class="list-group">
                <h3 id="left-show-h3-top"><i class="fa fa-instagram" aria-hidden="true"></i> /<%= profile.instaHandle %></h3>
                <h3><i class="fa fa-twitter" aria-hidden="true"></i> /<%= profile.twitterHandle %></h3>
                <h5>Located <%= profile.currentCity %>, <%= profile.currentCountry %></h5>
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="show-name">MEET <%=profile.name%></h1>
            <h4 id="mtp-h4"><%= profile.role %> @ <strong><%= profile.venue %></strong></h4>
            <div class="thumbnail">
                <div class="row" id="box-search">
                    <div class="thumbnail text-center">
                      <img class="img-responsive" src="<%= profile.image %>">
                                <p class="qoute">"<%=profile.greatestStory%>"</p>                
                    </div>    
                </div>
                <div class="caption">
                    <strong><p>So tell us a little about yourself <%=profile.name%></p></strong>
                    <p><%= profile.description %></p>
                    <strong><p>Tell us your greatest hospo story</p></strong>
                    <p><%= profile.greatestStory %></p>
                    <strong><p>Tell us your top 3 achievements you are most proud of</p></strong>
                    <p><%= profile.achievements %></p>
                    <strong><p>What about the top 3 things you're passionate about</p></strong>
                    <p><%= profile.passionateAbout %></p>
                    <strong><p>What is it you love about your industry and job?</p></strong>
                    <p><%= profile.industryLove %></p>
                    <strong><p>What is it you would like to improve in your industry?</p></strong>
                    <p><%= profile.industryImprove %></p>
                    <p>
                        <em>Submitted by <%= profile.author.username %></em>
                    </p>
                    <% if(currentUser && profile.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-xs btn-warning" href="/profiles/<%= profile._id %>/edit">Edit</a>
                    <form id="delete-form" action="/profiles/<%= profile._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-mtp-black" href="/profiles/<%= profile._id %>/comments/new">Add a comment</a>
                </div>
                <hr>
                <% profile.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                                href="/profiles/<%= profile._id %>/comments/<%= comment._id %>/edit">
                                Edit
                            </a>
                            <form id="delete-form" action="/profiles/<%= profile._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>    
            </div>
        </div>
    </div>
</div>    -->

<% include ../partials/footer %>