<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 id="mtp-h1">Join Meetthepeople</h1>
            <p>Create your own MTP profile. Trust us, it's the TITS!</p>
            <p>
            <a class="btn btn-default btn-lg" href="/campgrounds/new">Get Started</a>
            </p>
        </div>
    </header>
    
    <div id="thumbnail-row" class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
               <div class="thumbnail">
                   <img src="<%=campground.image%>" class="img-responsive">
                   <div class="caption">
                       <h4 class="profile-name"><%=campground.name%></h4>
                       <h4 id="mtp-h4-index"><%= campground.role %> @ <strong><%= campground.venue %></strong></h4>
                   </div>
                   <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-xs btn-default">Meet Me</a>
                   </p>
               </div>
            </div>
        <% }); %> 
    </div>
</div>

<% include ../partials/footer %>