<% include ../partials/header %>

<div class="container">
    <header class="jumbotron jumbotron-2">
        <div class="container">
            <h1 id="mtp-h1">Add a job listing</h1>
            <p>Simply create a job ad free and find your future legends</p>
            <a class="btn btn-secondary btn-lg" href="/jobs/new">LIST A JOB</a>
        </div>
    </header>

    <!-- SECTION 1 -->
    <div class="jobs-section1">
      <h2>MEET YOUR NEW CAREER</h2>
      <h5>Find your next epic job at one these amazing employers below</h5>
    </div>

    <!-- Listings -->
    <!--<% jobs.forEach(function(job){ %>
        <div class="card-columns">
            <div class="card">
                <h4 class="card-title"><strong><%=job.jobVenueName%></strong></h4>
                <p class="card-text">is looking for a <strong><%= job.jobRole %></strong></p>    
                <p>
                    <a href="/jobs/<%= job._id %>" class="btn btn-outline-info">Learn More</a>
                </p>
            </div>
        </div>
    <% }); %> -->
    
    <table class="table table-hover">
            <tr class="active">
                <th >Business Name</th>
                <th> </th>
                <th >Vacant Role</th>
                <th> </th>
            </tr> 
        <% jobs.forEach(function(job){ %>
            <tr>
                <th id="#mtp-h1"><%=job.jobVenueName%></th>
                <th>is looking for a </th>
                <th id="#mtp-h1"><strong><%= job.jobRole %></strong></th>
                <th align="center"><a href="/jobs/<%= job._id %>" class="btn btn-outline-info">Learn More</a></th>
            </tr>    
        <% }); %> 
    </table>
    
</div>

<% include ../partials/footer %>